/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

/* Header Styles */
header {
    margin-bottom: 20px;
}

/* Profile Image Styles */
.profile-img {
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    max-width: 100%;
    height: auto;
}

/* Headings */
h1 {
    margin-top: 10px;
}

/* Bio and Projects Styles */
.bio, 
.projects {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(244, 243, 245, 0.65); /* Using rgba for slight transparency */
    border: 1px solid #ad89cd;
    border-radius: 5px;
    text-align: center;
}

/* Projects List Styles */
.projects ul {
    list-style-position: inside; /* Moves the bullet points inside the text area */
    padding-left: 0; /* Removes the default padding */
    text-align: center;
}

.projects li {
    text-align: left; /* Aligns text of list items to the left */
}

/* Link Styles */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    margin-top: 20px;
}
